<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>968798331734-026kmr7lefscsnq3ace978pe2laopo7i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.968798331734-026kmr7lefscsnq3ace978pe2laopo7i</string>
	<key>API_KEY</key>
	<string>AIzaSyCTYKNAGX0w0bb0aCw4Kcj_97cGkBq5Ujg</string>
	<key>GCM_SENDER_ID</key>
	<string>968798331734</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.anomalo.dev.snslogin.firebasesnslogin</string>
	<key>PROJECT_ID</key>
	<string>fir-snslogin-11626</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-snslogin-11626.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:968798331734:ios:2ef9b5412275269c9decf7</string>
</dict>
</plist>